# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.venv/

# Compiled Python files
*.pyc

# Ignore all Excel files by default
*.xlsx

# But keep/version the Excel files we need:
!/data/*.xlsx
!/input_lists/*.xlsx
!/TESTE-ACCPLAN.xlsx
!/TESTE-ACCPLAN_Brazil_websites.xlsx
!/lista_com_websites.xlsx


